.App {
  text-align: center;
}
body, html {
  font-size: 38px;
  /* background-color: powderblue;
  color: salmon; */
  text-align: center;
  font-family: 'Audiowide', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-title {
  font-size: 1.5rem;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}